@model IEnumerable<_18_CRUD_BD.Models.Jogo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-dark">Criar Jogo <i class="bi bi-joystick"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
              <i class="bi bi-type"></i>  @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
             <i class="bi bi-card-text"></i> @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
               <i class="bi bi-images"></i> @Html.DisplayNameFor(model => model.Imagem)
            </th>
            <th>
              <i class="bi bi-check2"></i>  @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.JogoID" class="btn btn-outline-warning"><i class="bi bi-pencil"></i> Edit</a> |
                <a asp-action="Details" asp-route-id="@item.JogoID" class="btn btn-outline-info"> <i class="bi bi-journal-text"></i> Details</a> |
                <a asp-action="Delete" asp-route-id="@item.JogoID" class="btn btn-outline-danger"><i class="bi bi-trash"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="row" id="card">
    @foreach (var item in Model)
    {
        <div class="col-12 col-lg-3 ">
            <div class="card text-light" >
                <img class="card-img-top " src="@Html.DisplayFor(modelItem => item.Imagem)" alt="Imagem de capa do card">
                <div class="card-body text-center">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nome)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Descricao)</p>
                    <a href="#" class="btn btn-outline-danger " >Saiba mais</a>
                </div>
            </div>
        </div>

    }
</div>