@model _19_Atividade.Models.Veiculos

@{
    ViewData["Title"] = "Delete";
}

<h1 class=" text-light">Deletar</h1>

<h3 class=" text-light">Você deseja deletar esse veiculo da lista?</h3>
<div>
    <h4 class=" text-light">Veiculos</h4>
    <hr />
    <dl class="row  text-light">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>
        <dd class = "col-sm-10">
           <img src="   @Html.DisplayFor(model => model.Imagem)" alt="">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponivel)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VeiculoID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-outline-danger ">Back to List</a>
    </form>
</div>
